.contact {
    position: relative;
    background-image: url('../integration_maquette_finale/bg_dark.png');
    color: var(--color-light);
    font-family: var(--font-aniron-title);
}
.contact::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 5px;
    background-color: var(--color-secondary);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contact textarea {
    padding: .375rem .75rem;
}
.contact input, .contact textarea, .contact select {
    border-radius: 8px;
}
.contact button {
    background-color: var(--color-secondary);
    border: none;
}
.contact button:hover {
    border: none;
    box-shadow: none;
    background-color: var(--color-secondary);
}